.container{
    display : flex;
}
.hidden{
    display : none;
}
.list{
    width : 35%;
    overflow : scroll;
}
.map{
    width : 65%;
}

.fosting_block{
  width : 100%;
  display : flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  flex:  1;
}

.fosting_block .fosting_content{
  width : 40%;
  height : auto;
  margin: 50px 3.5% 50px 6.5%;
}
.fosting_block .fosting_content:nth-child(2n){
  margin : 50px 6.5% 50px 3.5%;
}

.fosting_block .fosting_content img{
  width : 100%;
  margin-bottom : 15px;
}

.fosting_block .fosting_content ul{
  line-height : 1.3;
}

.fosting_block .fosting_content ul li:first-child{
  font-size : 18px;
  font-weight: 500;
}