<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--CSS-->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/fostingList/fostingListForm.css">
</head>
<body>
<!--헤드바-->
<header>
    <div class="header_left">
        <a href="/" class="header_logo"><img src="/upload/file/fostingLogo.png" alt=""></a>
        <ul class="header_menu">
            <li><a href="/list/fostingAllList" class="food_list">음식 목록</a></li>
            <li><a href="" class="food_map">지도</a></li>
            <li><a href="/respost" class="respost">나의 맛집 알리기</a></li>
            <li><a href="/login" class="login">로그인</a></li>
            <li><a href="/signUp" class="signUp">회원가입</a></li>
        </ul>
    </div>
    <div class="header_right">
        <form action="" method="post">
            <input type="text" placeholder="음식점 또는 키워드               ">
            <button type="submit">검색</button>
        </form>
    </div>
</header>
<!--음식 목록-->
<div class="fost_container">
    <p class="fost_Name">포스팅 된 이름   <small>작성자</small></p>
    <div class="fost_content">
        <img src="" alt="">이미지
        <p>
            포스팅 내용
        </p>
    </div>
    <div class="fost_star">
        <span>현재별점</span>
        <form action="">

            <span>별점 5개</span>
            <button type="submit">별점주기</button>
        </form>
    </div>
    <div class="fost_info">
        <span>가게 이름</span>
        <span>가게 위치</span>
    </div>
    <span>작성일</span>
</div>
</body>
</html>