a{
 text-decoration : none;
 color : #666;
 font-weight : 600;
 font-size : 16px;
}

.hidden{
 display : none;
}

header{
  background : white;
  position : sticky;
  top : 0;

  width : auto;
  height : 50px;
  margin : 10px 30px;

  display : flex;
  justify-content: space-between;
  align-items: center;
}

.header_left{
  display : flex;
  justify-content: center;
  align-items: center;
}

.header_left .header_logo img{
  width : 50px;
  height : 50px;
}

.header_left ul{
  display : flex;
  justify-content: center;
  align-items: center;
}

.header_left ul li{
  margin : 0 15px 0 0;
}

.header_left ul li a:hover{
  color : red;
}

.header_right{
  display : flex;
  justify-content : center;
  align-items : center;
}

.header_right input {
  all: unset;
  border-bottom : 1px solid blue;
  padding-bottom : 2px;

  color : #666;
  height : 30px;
  font-size : 20px;
}

.header_right button{
  all: unset;
  width:40px;
  height:30px;

  font-size : 16px;
  font-weight : 600;
  margin : 0 auto;

}
.header_right button:hover{
  background : gray;
  color:red;
}